/* Header */
@import "./css/header/header.css";

/* Main */
@import "./css/main/banner.css";

/* Utilidades */
@import "./css/utilidades/cores.css";
@import "./css/utilidades/tipografia.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "avenir";
}

a {
  color: inherit;
}

.container-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: block;
  background: linear-gradient(122.71deg, #f99500 53.34%, #ffcd29 133.06%);
  border-radius: 3px;
  width: 12.5rem;
  height: 2.875rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
