@font-face {
    font-family: "avenir";
    src: local("Avenir LT Pro"),
      url(AvenirNextLTPro-Regular.otf) format("opentype");
  }
  
  @font-face {
    font-family: "avenir-bold";
    src: local("Avenir LT Pro"), url(AvenirNextLTPro-Bold.otf) format("opentype");
  }

  @font-face {
    font-family: "montserrat";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

  .montserrat4 {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
  }

  .montserrat6 {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
  }

  .montserrat7 {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
  }
  
  .poppins4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  .poppins5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .poppins6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .f14 {
    font-size: .875rem;
  }

  .f18 {
    font-size: 1.125rem;
  }

  .f20 {
    font-size: 1.25rem;
  }
  .f22 {
    font-size: 1.375rem;
  }

  .f24 {
    font-size: 1.5rem;
  }

  .f34 {
    font-size: 2.125rem;
    font-weight: 600;
  }

  .f48 {
    font-size: 3rem;
  }


  .f50 {
    font-size: 3.125rem;
  }

  .f80 {
    font-size: 5rem;
  }

