.footer-container {
    background-color: var(--s1);
    justify-content: center;
    color: var(--w);
    height: 6rem;
    align-items: center;
}

.footer-content {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width:650px) {
    .footer-container {
        height: 130px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-content h3 {
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .footer-content img {
        max-height: 50px;
    }
}